@import '/variable.less';

.custom-tab-bar {
  background-color: @surface-color;
  --td-tab-bar-height: @tab-bar-height;
  --td-tab-bar-bg-color: @surface-color;
  --td-tab-bar-color: @text-color-yellow-muted;
  --td-tab-bar-active-color: @text-color-yellow;
  --td-tab-bar-active-bg: rgba(249, 211, 66, 0.12);
  --td-tab-bar-border-color: rgba(249, 211, 66, 0.15);

  &-item {
    margin: 0;
    padding: 16rpx 24rpx;
  }
}
